.cart {
  position: fixed;
  right: 25px;
  z-index: 99;
}
.cart-icon {
  font-size: 40px;
  cursor: pointer;
}
.cart-badge {
  background-color: rgb(200, 20, 20);
  border-radius: 50%;
  width: 35px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -20px;
}
.cart-list {
  user-select: none;
  background-color : #e3e3e3;
  color: #111;
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  width: max-content;
  position: absolute;
  right: 0;
  margin-top: -5px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px  solid #a4a4a4;
    cursor: pointer;
}

.cart-list::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 4px;
    width: 20px;
    height: 20px;
    background-color: #e3e3e3;
    rotate: 45deg;
    z-index: -1;
}

.cart-item:hover {
  background-color: #c8c8c8;
}
.cart-item-image {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 40px;
}
.cart-item-price {
  background-color: #1c582c;
  color: #e3e3e3;
  padding: 3px 7px;
  border-radius: 5px;
}
